body {
    margin: 0;
}

div#logo{
    width: 800px;
    height: 800px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

div#content {
    text-align: center;
    height: 500em;
}
